<div class="instacard-comment target-highlight">
  <span class="instacard-comment-profile"><%= comment.user.username %> </span>
  <span class="instacard-comment-body"><%= comment.body %></span>
</div>
